.carousel-container {
  height: auto;
  margin: auto;
  padding: 8px;
}

.slide-content {
  position: relative;
  overflow: hidden;
}

.previous-button {
  position: absolute;
  width: 100px;
  height: 100px;
  color: black;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  position: absolute;
  width: 100px;
  height: 100px;  
  color: black;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

}

.slide-banner {
  width: 100%;
}

.sliding-in {
  animation: slide-in .3s;
}

.sliding-out {
  animation: slide-out .3s forwards;
}


@keyframes slide-out {
 from {
  transform: translateX(0px);
 } to {
  transform: translateX(-100%);
 }
}

@keyframes slide-in {
   from {
  transform: translateX(100%);
 } to {
  transform: translateX(0px);
 }
}