$standard_productive: cubic-bezier(0.2, 0, 0.38, 0.9);
$standard_expressive: cubic-bezier(0.4, 0.14, 0.3, 1);
$entrance_productive: cubic-bezier(0, 0, 0.38, 0.9);
$entrance_expressive: cubic-bezier(0, 0, 0.3, 1);
$exit_productive: cubic-bezier(0.2, 0, 1, 0.9);
$exit_expressive: cubic-bezier(0.4, 0.14, 1, 1);
