@import '@/global_styles/colors.scss';
@import '@/global_styles/motion.scss';

button {
    width: auto;
    height: auto;
    padding: .5rem;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color .3s $standard_expressive;
}

button.primary:hover {
  background-color: $button-primary-hover;
}

button.secondary:hover {
  background-color: $button-secondary-hover;
}

button.danger:hover {
  background-color: $button-danger-hover;
}

button.primary:active {
  background-color: $button-primary-active;
  border: none 1px 1px none solid $border-interactive;
}

button.secondary:active {
  background-color: $button-secondary-active;

}

button.danger:active {
  background-color: $button-danger-active;
}

.primary {
  background-color: $button-primary;
}

.secondary {
  background-color: $button-secondary;
}

.danger {
  background-color: $button-danger-primary;
}

.ghost {
  background-color: transparent;
}