@import '@/global_styles/colors.scss';

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  border: 1px solid $border-subtle-01;
  border-radius: 8px;
  overflow: hidden;
  background-color: $layer-01;
}

.amount input {
  background-color: transparent;
  border: none;
  color: black;
  height: 100%;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.add-button {
  color: $button-primary;
}

.remove-button {
  color: $button-danger-primary;
}