@use '@/global_styles/colors.scss' as colors;

.user-login-container {
  min-width: 400px;
  overflow: visible;

  .input-field {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 40px;
    border-radius: 8px;
  }

  .logo {
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: white;
    clip-path: circle();
    z-index: 1001;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  input {
    outline: none;
    padding: 8px;
    border: 1px solid colors.$border-subtle-01;
    border-radius: 8px;
    transition: 0.3s ease-out;
  }

  input:focus {
    border: 1px solid colors.$border-strong-01;
  }

  .input-field label {
    position: absolute;
    transform: translate(4px, -100%);
    background-color: white;
    width: auto;
    padding: 0px 4px;
    text-align: center;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

}
