@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');


.nav-title {
  display: flex;
  grid-column: 2/2;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

img {
  width: 40px;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media screen and (max-width: 800px) {
  .nav-title {
    grid-column: 1/3;
    justify-content: start;
  }
}