.booklist-heading {
  position: relative;
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin: 1rem auto;
  max-width:1200px;
  width: 100%;
  justify-content: center;
}

.banner {
  position: absolute;
}