.books-container {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
  justify-content: space-between;
}

.booklist {
  padding: 8px;
  width: 100%;
}
@media screen and (max-width: 650px) {
  .books-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    align-items: center;
    justify-content: space-around;
  }
}