.books-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
  justify-content: space-between;
}

.booklist {
  padding: 8px;
  width: 100%;
}
@media screen and (max-width: 505px) {
  .books-container {
    display: flex;
    flex-direction: column;
  }
}