.books-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
  justify-content: center;
  padding: 16px;
}

@media screen and (max-width: 505px) {
  .books-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
  }
}