
  .form-dialog {
    width: 400px;
    margin: auto;
    z-index: 2;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.3s;

    h2 {
      text-align: center;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .form-add-btn {
      padding: 0.5rem;
      width: 140px;
      height: 40px;
      align-self: center;
      background-color: rgb(239, 239, 239);
      border: 1px solid rgb(228, 228, 228);
      border-radius: 12px;
      font-family: 'Open Sans', 'Arial', sans-serif;
      font-weight: 700;
    }

    .form-field {
      display: grid;
      grid-template-columns: 100%;
      height: 40px;
      margin-bottom: 0.5rem;

      input,
      select {
        border: 1px solid rgb(189, 189, 189);
        border-radius: 12px;
        padding: 6px;
      }

      input::placeholder {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
      }
    }
  }
