
  .modal {
    width: 400px;
    margin: auto;
    z-index: 1000;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 8px;
    transition: 0.3s;
  }

  .modal-close-btn {
    position: absolute;
    right: 16px;
    top: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
