@use '@/global_styles/colors.scss' as colors;
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

.navbar-container {
  position: fixed;
  width: 100%;
  padding-right: 1rem;
  height: 70px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid colors.$border-strong-01;
  z-index: 2;
}

a {
  color: inherit;
  text-decoration: none;
}


.nav-title {
  display: flex;
  grid-column: 2/2;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}

h1 {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  font-size: 28px;
}

img {
  width: 40px;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.spacer {
  margin-bottom: 70px;
}


@media screen and (max-width: 1200px) {
  .nav-title {
    grid-column: 1/3;
    justify-content: start;
  }
}

@media screen and (max-width: 650px) {
  .navbar-container {
    grid-template-rows: 1fr 1fr;
    height: 100px;
    padding: 8px 16px;
  } 

  nav {
    grid-row: 2/3;
    align-items: end;
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr min-content min-content;
    grid-template-rows: 1fr;
  }

  .nav-title {
    justify-content: center;
    grid-column: 1/4;
  }

  .spacer {
    margin-bottom: 100px;
  }
}