@use '@/global_styles/colors.scss' as colors;
@use '@/global_styles/motion.scss' as motion;

button {
  width: auto;
  height: auto;
  padding: 0.5rem;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s motion.$standard_expressive;
}

button.primary:hover {
  background-color: colors.$button-primary-hover;
}

button:disabled {
  background-color: colors.$button-disabled;
  pointer-events: none;
}

button:disabled:hover {
  background-color: colors.$button-disabled;
}


button.secondary:hover {
  background-color: colors.$button-secondary-hover;
}

button.danger:hover {
  background-color: colors.$button-danger-hover;
}

button.primary:active {
  background-color: colors.$button-primary-active;
  border: none 1px 1px none solid colors.$border-interactive;
}

button.secondary:active {
  background-color: colors.$button-secondary-active;
}

button.danger:active {
  background-color: colors.$button-danger-active;
}

.primary {
  background-color: colors.$button-primary;
}

.secondary {
  background-color: colors.$button-secondary;
}

.danger {
  background-color: colors.$button-danger-primary;
}

.ghost {
  background-color: transparent;
}
