@use '@/global_styles/colors.scss' as colors;

.amount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 32px;
  border: 1px solid colors.$border-subtle-01;
  border-radius: 8px;
  overflow: hidden;
  background-color: colors.$layer-01;
}

.amount input {
  background-color: transparent;
  border: none;
  color: black;
  height: 100%;
  text-align: center;
  font-size: 16px;
  width: 100%;
}

.add-button {
  color: colors.$button-primary;
  display: flex;
  align-items: center;
}

.remove-button {
  color: colors.$button-danger-primary;
  display: flex;
  align-items: center;
}