@use '@/global_styles/colors.scss' as colors;
@use '@/global_styles/motion.scss' as motion;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: auto;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  transition: 0.3s motion.$standard_expressive;
  padding: 8px;
  background-color: transparent;
  gap: 8px;
  color: black;
  &:hover {
    background-color: rgb(240, 240, 240);
  }
}

.skeleton {
  height: 370px;
  animation: pulse 1s alternate infinite;
}

.book-actions {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  margin-top: auto;
}

.book-cover {
  width: 100%;
  height: 230px;
  border-radius: 4px;
  object-fit: center;
  object-fit: cover;
}

.blur-div {
  padding: 0px;
  height: 230px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: pulse 1s alternate infinite;
}


.blur-div > img {
  opacity: 0;
  transition: opacity .2s ease-in;

}

.blur-div.loaded > img {
  opacity: 1;
}

.book-title {
  height: 40px;
}

.book-author {
  height: 20px;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@media screen and (max-width: 650px) {
  .card {
    width: 150px;
    height: 300px;
    background-color: colors.$layer-01;
    border-top: 1.5px solid colors.$border-strong-01;
    border-right: 1px solid colors.$border-subtle-01;
    border-radius: 8px;
    font-size: 14px;
  }

  .book-cover {
    height: 100%;
    width: auto;
    border-radius: 8px;
  }

  .book-actions {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}

.remove-btn {
  position: absolute;
  margin-left: 150px;

  width: 20px;
  height: 20px;
}

.addbook-btn {
  position: relative;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

.active {
  position: relative;
  overflow: hidden;
}

.active::after {
  content: 'Adicionado';
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: colors.$support-success;
  animation: slide-in 2s motion.$standard_expressive forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  15% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes pulse {
  from {
    background-color: rgb(227, 227, 227);
  }
  to {
    background-color: rgb(201, 201, 201);

  }
}