@import '@/global_styles/colors.scss';
@import '@/global_styles/motion.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 340px;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  transition: 0.3s $standard_expressive;
  padding: 8px;
  cursor: pointer;
  background-color: transparent;
  color: black;

  &:hover {
    background-color: rgb(240, 240, 240);
  }
  .remove-btn {
    position: absolute;
    margin-left: -150px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #00000033;
    cursor: pointer;
  }

  .card-add {
    background-color: rgba(203, 203, 203, 0.343);
  }

  .book-actions {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    margin-top: auto
  }

  .book-cover {
    margin-bottom: 8px;
    width: 100%;
    height: 230px;
  }

  .remove-btn {
    position: absolute;
    margin-left: 150px;

    width: 20px;
    height: 20px;
  }

  .addbook-btn {
    position: relative;
    width: 80px;
    height: 30px;
    cursor: pointer;
  }

  .form-header {
    display: grid;

    .close-form-btn {
      position: absolute;
      justify-self: end;
      margin-top: -8px;

      width: 30px;
      height: 30px;

      border-radius: 50%;
      border: 1px solid rgb(184, 184, 184);
      background-color: rgb(237, 237, 237);
      cursor: pointer;
    }
  }
  @media screen and (max-width: 505px) {

    .card {
      display: grid;
      grid-template-columns: 160px 1fr;
      grid-template-rows: 2fr 3fr 1fr;
      width: 100%;
      height: 150px;

      .book-cover {
        height: 100%;
        grid-row: 1/ 4;
        grid-column: 1;
        object-fit: cover;
      }

      h3 {
        grid-row: 1/2;
        grid-column: 2;
      }

      p {
        grid-row: 2/3;
        grid-column: 2;
        align-self: start;
      }

      .remove-btn {
        position: static;
        justify-self: end;
        grid-row: 3 / 4;
        grid-column: 2;

        width: 30px;
        height: 30px;
      }
    }
  }
}

.active {
  position: relative;
  overflow: hidden;
}

.active::after {
  content: 'Adicionado';
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $support-success;
  animation: slide-in 2s $standard_expressive forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  } 
  15% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// .add_book_button:active {
//   background-color: greenyellow !important; 
//   transition: background-color .1s;
//   color: black;
//   font-weight: bold;
// }