

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-weight: 800;
}

p {
  font-family: 'Open Sans', 'Arial', sans-serif;
}

h3 {
  font-size: 1rem;
}

hr {
  align-self: center;
  height: 2px;
  width: 80%;
  margin-bottom: 8px;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/*
==================================
H E A D E R
==================================
*/

/*
==================================
M A I N
==================================
*/
