.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 320px;
  padding: 8px;
  border: 2px solid rgba(0, 0, 0, 0.101);
  border-radius: 8px;
  text-align: center;
  text-transform: capitalize;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    border: 2px solid rgba(0, 106, 255, 0.688);
  }
  .remove-btn {
    position: absolute;
    margin-left: -150px;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #00000033;
    background-color: #ff4242cc;
    cursor: pointer;
  }

  .card-add {
    background-color: rgba(203, 203, 203, 0.343);
  }

  .book-actions {
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100%;
    margin-top: auto
  }

  .book-cover {
    width: 160px;
    height: 200px;
    margin: 8px;
    border-radius: 8px;
  }

  .remove-btn {
    position: absolute;
    margin-left: 150px;

    width: 20px;
    height: 20px;
  }

  .addbook-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .form-header {
    display: grid;

    .close-form-btn {
      position: absolute;
      justify-self: end;
      margin-top: -8px;

      width: 30px;
      height: 30px;

      border-radius: 50%;
      border: 1px solid rgb(184, 184, 184);
      background-color: rgb(237, 237, 237);
      cursor: pointer;
    }
  }
  @media screen and (max-width: 505px) {

    .card {
      display: grid;
      grid-template-columns: 160px 1fr;
      grid-template-rows: 2fr 3fr 1fr;
      width: 100%;
      height: 150px;

      .book-cover {
        height: 100%;
        grid-row: 1/ 4;
        grid-column: 1;
        object-fit: cover;
      }

      h3 {
        grid-row: 1/2;
        grid-column: 2;
      }

      p {
        grid-row: 2/3;
        grid-column: 2;
        align-self: start;
      }

      .remove-btn {
        position: static;
        justify-self: end;
        /* grid-row: 3/3; */
        grid-row: 3 / 4;
        grid-column: 2;

        width: 30px;
        height: 30px;
      }
    }
  }
}
